.salle_rubrique div:nth-child(1n) {
  /* chaque "div" enfant de classe style "rubrique" */
  min-height: 30px;
  margin-top: 5px;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr 8fr;
  grid-gap: 10px;
}

.salle_rubrique div:nth-child(1) {
  /* 1
  er enfant "div" de classe style "rubrique" */
  grid-template-columns: 1fr 9fr;
}

.salle_sousrubrique {
  min-height: 30px;
  margin-top: 5px;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 2px solid #808080;
}

.salle_commentaire {
  text-align: left;
  font-size: 0.9em;
  white-space: pre;
  /* sauts de ligne \r\n conservés */
}

.equipement_rubrique {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#btn_equipement_valider {
  margin: 10px;
  width: 50px;
  height: 50px;
  background: url(valider.png) no-repeat center center;
}

#btn_equipement_annuler {
  margin: 10px;
  width: 50px;
  height: 50px;
  background: url(annuler.png) no-repeat center center;
}